<%# This file is not meant to be used on its own. It's meant to be included
    in full HTML pages %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Find a GP in BC</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
