.success {
    color: #008000;
}
div.success {
    border: 1px solid #00AA00;
}
div.success {
    background: none repeat scroll 0 0 #DDFFDD;
    color: #002200;
    padding: 2px;
}

#email_item_form {
	width: 500px;
}
#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:10px;
    width:180px;
    background-color:#000;
}
div.crud label>div.help {
	font-size: .8em;
	font-style: italic;
}
div.crud fieldset.action_standard_layout {
	padding: 5px;
	margin: 0px;
}
div.crud fieldset.action_standard_layout>ol {
	
}
div.crud fieldset.action_standard_layout>ol>li {
	clear: left;
}
div.crud fieldset.action_standard_layout>ol>li>* {
	float: left;
}
#email_crud fieldset.action_standard_layout>ol>li>label {
	width: 12em;
}
#address_crud td.address_column>fieldset {
	padding: 5px;
	margin: 0px;
}
.ui-datepicker table
, .info
, div.crud
, div.list_email *
, div.create_interface *
, div.list_form *
, div.crud_address *
, div.crud_address
, .loading_message
, .messagebox {
	font-size: 10pt;
	font-family: Arial;
}
.validate_highlight {
	color: red;
	font-weight: bold;
}
.ui-datepicker>* {
	font-size: 8pt;
}
div.list_form .address_column {
	width: 200px;
	min-width: 15em;
}
.info {
	width: 600px
}
.messagebox {
	padding: 5px;
	display: inline-block;
}
.messagebox>ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}
.messagebox>ul>li {
	
}
div.list_form .primary_column
, div.list_form .collegemail_column
, div.list_form .librarymail_column
, div.list_form .publishable_column
, div.list_form .approved_column
, div.list_form .address_actions_column {
	dwidth: 100px;
	dmin-width: 100px;
}
div.list_form td.primary_column
, div.list_form td.collegemail_column
, div.list_form td.librarymail_column
, div.list_form td.publishable_column
, div.list_form td.approved_column {
	text-align: center;
}
div.crud_address {
	width: 500px;
}
div.crud_address>fieldset
, div.crud fieldset.submit_actions {
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
div.crud_address>fieldset>legend {
	width: auto;
	border: none;
	margin: auto;
}
.actions>li {
	padding: 0px;
}
div.crud_address>fieldset ol.action_left_layout {
	margin-right: 5px;
	margin-bottom: 5px;
}
div.crud_address>fieldset ol.action_left_layout>li {
	position: relative;
}
div.crud_address>fieldset ol.action_left_layout>li>label {
	position: relative;
	text-align: left;
	left: 30px;
	display: inline-block;
	margin: auto;
}
div.crud_address>fieldset ol.action_left_layout>li>* {
	float: none;
	position: absolute;
	left: 0px;
}
div.crud_address>fieldset ol.action_left_layout>li>input {

}
div.crud_address>fieldset>ol.sideways_layout {
	clear: both;
}
div.crud_address>fieldset>ol.sideways_layout>li {
	clear: none;
	float: left;
	height: 45px;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}
div.crud_address>fieldset>ol.sideways_layout>li>label {
	display: block;
	float: none;
	padding: 0px;
	text-align: left;
	width: auto;
	max-width: 190px;
	margin: auto;
}
div.crud_address>fieldset>ol.sideways_layout>li>input
, div.crud_address>fieldset>ol.sideways_layout>li>select {
	width: auto;
	max-width: 190px;
}
div.crud_address>fieldset>ol.sideways_layout>li>img.ui-datepicker-trigger {
	display: inline-block;
}
div.crud_address>fieldset>ol.sideways_layout>li.address_unit_number
, div.crud_address>fieldset>ol.sideways_layout>li.address_number_suffix {
	margin-left: 3em;
}

div.crud_address>fieldset>ol {
	
}
div.crud_address>fieldset>ol>li {
	clear: both;
}
div.crud_address>fieldset>ol>li>input {
	float: left;
}
div.crud_address>fieldset>ol>li>label {
	width: 180px;
	float: left;
	height: 20px;
	text-align: right;
	padding-right: 5px;
}
div.crud fieldset>ol.submit_actions {

}
div.crud fieldset>ol.submit_actions>li {
	
}
div.crud fieldset>ol.submit_actions>li>input
, div.crud fieldset.submit_actions>ol>li>input {
	float: right;
	margin-bottom: 5px;
	margin-right: 5px;
}
div.list_form .list_items .item {
	
}
div.list_form .list_items .item ol.actions>li {
}
div.list_form .list_items .item ol.actions_layout {
	width: 5em;
}
.LISTSTYLE
, div.crud fieldset>ol
, div.list_form .list_items .item ol.actions
, div.list_form .list_items .item ol.actions_layout
, div.list_form ol.list_actions {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.LISTSTYLEITEMS
, div.list_form .list_items .item ol.actions
, div.list_form .list_items .item ol.actions_layout
, div.list_form ol.list_actions {
	float: left;
}

.BORDERS
, div.crud fieldset
, div.crud_address>fieldset ol>li>input[type=text]
, div.crud_address>fieldset ol>li>input[type=password]
, div.crud_address>fieldset ol>li>select {
	border: 1px solid #D6D6D6;

}
.NOBORDERS
, div.crud fieldset.NOBORDERS {
	border: 0px;
}
.FONTCOLOR
, div.crud_address
, disableddiv.crud_address>fieldset>ol.submit_actions>li>input
, disableddiv.crud_address>fieldset>ol.submit_actions>li>select {
	color: #404040;
}
.ui-widget {
	font-size: 10pt;
}

/* layout fix due to cpsbc theme */
.list_form>table>tfoot>tr>td.NOBORDERS {
	border: 0px;
}

#qtdetails #address_crud .address_column>fieldset
, #qtdetails #address_item_form>fieldset {
	padding-top: 2em;
	margin-bottom: 1em;
}
#qtdetails #address_crud #address_item_form>fieldset>ol.action_left_layout>li>label {
	float: left;
	width: 300px;
}

#address_crud tbody>tr>td {
	background-color: #FFFFFF;
}

#email_item_form .action_standard_layout>ol>li {
	padding-bottom: .5em;
	display: inline-block;
}
