.question_helper {
	padding-left: 10px;
}
.table_fixed_actions {
	float: right;
}
.instructions {
	font-style: italic;
}
.renderpageform {
	width: 770px;
}
.renderpageform p {
/*	padding-bottom: 1em; too much spacing */
}

#qtdetails {
	list-style: none;
	margin: 0px;
	padding: 0px;
	list-style-image: none;
}
#qtdetails>li {

}
#qtdetails ul {
	list-style-image: none;
	list-style: none;
}
#qtdetails ul.splashList {
	list-style: outside;
	list-style-image: url("/misc/rhuie_resources/text_unit_bullet.png");
}
table.readonlytable td {
	padding: 5px;
}
.question>ul {
	list-style: none;
	margin: 0px;
	padding-left: 2em;
	padding-top: 0px;
}
table.question_table_fixed {
	width: auto;
}
table.question_multiselect
, table.question_multiselectwithother
, table.question_search {
	border: 0px;
}
table.question_multiselect
, table.question_multiselectwithother {
	width: 100%;
}
table.question_multiselect td
, table.question_multiselectwithother td
, table.question_search td {
	border: 0px;
}
table.question_multiselect select
, table.question_multiselectwithother select
, table.question_search select
, .physician_name_search_value {
	width: 100%;
}
textarea.item_scroll {
	width: 100%;
}
#qtdetails>li>div {
	margin-top: 1em; /* 2em; spacing too large */
}

.disabledrequired_field {
	margin-left: -15px;
	padding-left: 15px;
	min-height: 10px;
	background-image:url('http://ubuntu.cpsbc.ca/custom_pages/2013questiontree/images/asterisk.10x10.png');
	background-repeat:no-repeat;
	background-position:left top;
}
.item_scroll {
/*	disabled-height: 14em;
	disabled-overflow: scroll;
*/
	border:1px solid black;
}
.question_search {
	width: 100%;
}
#qtdetails .right
, #qtdetails .left {
	width: 40%;
}
#qtdetails>li>ul
, .multicolumndynamic {
	list-style:none outside none;
}
.question_content>ul {
	padding-left: 0px;
	margin-left: 20px;
}

#qtdetails>li>ul
, .multicolumndynamic
, #qtdetails>li>span>.question_hint
, #qtdetails>li>span>input
, #qtdetails>li>span>textarea
, #qtdetails>li>span>select {
	margin-left: 20px;
	padding-left: 0px;
}
.item_scroll td {
	border: 0px;
	background-color: inherit;
}
.item_scroll {
	padding: 10px;
}
.item_scroll ol {
	list-style: none outside none;
}
.item_scroll .bylaw {
	color: inherit;
}
/* fix alrf2017 bullets in scroll */
#qtdetails .item_scroll ul.splashList {
	list-style: disc outside none;
	/*
	list-style: outside;
	list-style-image: url("/misc/rhuie_resources/text_unit_bullet.png"); */
}
#qtdetails textarea {
	width: 50%;
}

#qtdetails .textarea_status_bar {
	display: inline-block;
	margin-left: 20px;
	width: 50%;
}

#qtdetails .textarea_status_bar .textarea_counter {
	float: right;
}

.question_date
, .question_radio
, .question_table
, .question_multiselect
, .question_multiselectwithother
, .question_scroll
, .question_search
, .question_select
, .question_textarea
, .question_text
, .question_table

{
	font-weight: bold;
}
.display_notice
, .on_select_display
, .on_select_display_enabled {
	font-style: italic;
	font-weight: bold;
	font-size: smaller;
}
.error_message
, .error2_message
, .error3_message {
	font-weight: bold;
	color: red;
	margin: 2em;
}
.readonlytable {
	width: 770px;
	border: 0px;
}
.readonlytable td {
	border: 0px;
}
.readonlytable textarea {
	width: 100%;
	font-size: 8pt;
	font-family: Arial;
}
.alrf {
	padding-top: 1em;
}
.readonlyanswer
, .item_scroll {
	border: 1px solid gray;
	background: lightgrey;
	padding: 1em;
	disabled-font-size: 1.28em;
}

.readonlyanswer ol
, .alrf ol {
	list-style: none;
	padding-left: 5em;
}
.readonlyanswer ol>li
, .alrf ol>li {
	padding-top: .5em;
}
.readonlyanswer ol>li>.index
, .alrf ol>li>.index {
	margin-left: -3em;
	float: left;
}
.readonlyanswer ol>li>.content
, .alrf ol>li>.content {

}
.readonlyanswer>b {
	padding-bottom: 1em;
	display: block;
}

.readonlytableresponse {
}
.readonlytable ul {
	list-style: none;
}
.header_text {
	margin-bottom: 1em; /* 2em; spacing too big */
}
div.action {
	margin-top: 2em;
}
.tooltip {

}
.tooltip>.icon {

}
.tooltip:hover {
	position: relative;
}
.tooltip:hover .content {
	display: block;
	position: absolute;
	left: 20px;
	top: 20px;
	background-color: lightgray;
	border: thin solid black;
	width: 30em;
	padding: .5em;
}
.tooltip>.content {
	display: none;
}
.required_question
, .required_question_enabled {
	position: relative;
}
.required_question_enabled>.required_question_icon {
	font-weight: bold;
	color: red;
	position: absolute;
	margin-left: -3em;
	font-size: 16pt;
}

/* override css from drupal7 */
#qt2013form table.readonlytable tr:nth-child(2n) td
, #qt2013form table.readonlytable tr td {
	background-color: #FFFFFF;
}

.address_actions_column ol.actions li {
	padding-bottom:5px;
}

.payment-form .control-label {
	font-weight: bold;
}

.payment-form .control-group {
	padding-bottom: 1em;
}

#qt2013form table>tbody {
	border: 0px;
}

.quizCorrect {
	color: #5cb85c;
	font-style: normal;
	font-weight: bold;
	font-size: 8pt;
}

.quizIncorrect {
	color: #d9534f;
	font-style: normal;
	font-weight: bold;
	font-size: 8pt;
}

p .alrf-help-text {
	font-size: 8pt
}

.fineprint p
, .helpinfo p {
	font-size: .9em;
	line-height: 1em;
}

.fineprint li
, .helpinfo li {
	list-style: disc outside none;
	line-height: 1em;
}

.helpinfo ul {
	margin-bottom: 1em;
}

/* titles have too much spacing */
.renderpageform h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

#qtdetails textarea {
	margin-top: .5em;
	margin-bottom: 0px;
}

#qt2013form ol.internetbanking>li {
	margin-bottom: 1em;
}

/* rm.1422 fix to datepicker button wrapping issue */
.datepicker-container {
	width:101%;
	display:block;
}
