// Requiring this file like so:
//
//      const env = require('./config/env');
//
// will run the file, setting all environment variables.
//
// Make a copy of this file in this directory, and rename it 'env.js'

process.env['NODE_ENV'] = 'development';
process.env['PGUSER'] = 'username';
process.env['PGPASSWORD'] = 'password';
